body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
header{
    display: block;
    background: #fce1ce;
    color: #151640;
}
header h1{
    margin: 0;
    font-size: 22px;
    padding: 10px 0;
    text-align: center;
}
section{
    width: 1100px;
    margin: 0 auto;
    padding: 10px 0;
}
section article{
    display: block;
    margin: 15px 0;
    padding: 5px 0;
    border-bottom: 1px #151640 solid;
    width: 780px;
    float: right;
}
section article h2{
    font-size: 19px;
    margin: 0;
    padding: 4px 0;
}
section article h2 a{
    color: #5f1818;
}
section article h2 a:hover{
    text-decoration: none;
}
section article p{
    margin: 5px 0;
    padding: 2px 0;
}
footer{
    margin: 30px 0 0 0;
    padding: 5px 0;
    background: #dddbe5;
    border-top: 1px #a9a7c8 solid;
}
.full{
    display: block;
    margin: 10px 0 5px 0;
    padding: 5px 5px;
    color: #ffffff;
    background: #ea5c61;
    text-decoration: none;
    float: right;
    font-size: 14px;
}
.full:hover{
    background: #d02b2c;
}
.clear{
    clear: both;
}
aside{
    width: 280px;
    float: left;
    font-size: 15px;
    padding: 5px 2px;
    border-radius: 5px 5px;
    background: #efebf2;
    margin-top: 30px;
}
aside ul{
    list-style: none;
    padding: 5px 5px;
    margin: 0;
}
aside ul li{
    display: block;
    padding: 3px 5px;
}
aside ul li a{
    text-decoration: none;
    color: #5f1818;
}
aside ul li a:hover{
    text-decoration: underline;
}
input{
    width: 300px;
    padding: 4px 5px;
}
textarea{
    width: 400px;
    padding: 5px 5px;
}
tr td{
    padding: 5px 5px;
    font-size: 15px;
}
input[type='submit']{
    width: 150px;
    float: right;
}
input[type='submit']:hover{
    cursor: pointer;
}